// Colors
$white: hsl(0, 0, 100);

$gray-vdark: hsl(210, 2, 23);
$gray-dark: hsl(210, 9, 44);
$gray-med: hsl(214, 11, 57);
$gray-light: hsl(214, 11, 76);
$gray-vlight: hsl(216, 15, 94);

// AppBar
$appbar-height: 5rem;
